<div class="rules-debug-block">
    <div class="rules-debug-log-head rules-debug-open rules-debug-collapsible-link">
        <span unselectable="on" class="ui-icon ui-icon-triangle-1-e rules-debug-icon-open">&nbsp;</span>
        {{ head }}
        {% if link %}
            &nbsp;{{ link }}
        {% endif %}
    </div>
    {{ log }}
</div>
